body
{
  color: white;
  background: #8adbdb;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed rgb(230, 4, 192);
  width: 400px;
  height: 400px; 
}
#result_name ,#result_name2  
{
  color: rgb(230, 4, 192);
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 35px;
}